<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Hello, world!</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <p>Welcome to your new single-page application, built with:</p>
        <ul>
            <li>
                <a href="https://get.asp.net/" target="_blank">ASP.NET Core</a> and
                <a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx" target="_blank">C#</a> for cross-platform server-side code
            </li>
            <li>
                <a href="https://angular.io/" target="_blank">Angular</a> and
                <a href="http://www.typescriptlang.org/" target="_blank">TypeScript</a> for client-side code
            </li>
            <li>
                <a href="https://webpack.github.io/" target="_blank">Webpack</a> for building and bundling client-side resources
            </li>
            <li>
                <a href="https://getbootstrap.com/docs/4.0/getting-started/download/" target="_blank">Bootstrap 4</a>
                and
                <a href="https://startbootstrap.com/template-overviews/sb-admin/">SbAdmin</a>
                for layout and styling
            </li>
            <li>
                <a href="https://alligator.io/angular/chartjs-ng2-charts/" target="_blank">Chart.js</a> 
                and
                <a href="http://morrisjs.github.io/morris.js/" target="_blank">Morris.js</a>
                for building dynamic charts
            </li>
        </ul>
    </div>
</div>
<!-- /.row -->